.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

.actions {
  margin-top: 20px;
}

button.secondary {
  background-color: #757575;
  margin-left: 10px;
}

button.secondary:hover {
  background-color: #616161;
}
